#entete {
    width: 100%;
	height: 100px;
    background-color:rgb(233, 173, 252) ;
display: flex;
justify-content: space-between;

}
.imagetitle {

    width: 150px;
    height: 90px;    
    margin-left: 10px;

}
h1 {
    
    text-align: center;
    
    font-family: Bradley Hand, 'Trebuchet MS', sans-serif, cursive;
    height : 50px;
    width: 100%;
    font-size: 40px;
    
}
#entete a{
	text-decoration: none;
    color: violet;
    font-size: 30px;
    display:flex;
    align-items:  center;
}

/*----------------------------------*/

h2 {
    font-size: 40px;
    color: orange;
}


img {
        max-width: 350px;
        height: auto;
    }

#main {

    display: flex;
    box-shadow: 1px 1px 6px silver;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#buttonPrincipal button {

    background-color: rgb(217, 134, 243);
    font-size: 15px;
    font-style : italic;    
    margin-bottom: 10px;
}

#varnishPrincipal span{
    font-style : italic;
    font-size: 15px;
    font-weight: bold;
}

#quantityPrincipal span {
    font-style : italic;
    font-size: 15px;
    font-weight: bold;
}

#quantityPrincipal select {
    background-color: rgb(228, 225, 225);

}

#varnishPrincipal select {
    background-color: rgb(228, 225, 225);

}

#main p {
font-size : 20px;

}

@media all and (max-width: 543px) {

    h1 {

        text-align: center;
       
        font-family: Bradley Hand, 'Trebuchet MS', sans-serif, cursive;
        height : 50px;
        
        font-size: 35px;
    }

}

@media all and (max-width: 497px) {

    h1 {

        text-align: center;
       
        font-family: Bradley Hand, 'Trebuchet MS', sans-serif, cursive;
        height : 50px;
        
        font-size: 30px;
    }

}

@media all and (max-width: 372px) {

#main img {
    width: 100%;
}
h1{
    font-size: 27px;
}

}